h1 {
    text-align: center;
  }
  
  section {
    margin: 1rem auto;
    display:grid;
    width: 90%;
    padding: 0 1rem;
    border: solid 1px;
  }

  h1 {
      font-size: 1.3rem;
  }
  
  h2 {
   text-align:  center;
   font-size: 1.2rem;
  }
  
  picture { flex-grow: 1;}
  
  img {
    min-width: 250px;
    min-height: 141px;
    width: 100%;
  }

  section img[data-src] {
      filter: blur(.2em);
  }

  section img {
      filter: blur (0em);
      transition:  filter 0.5s;
  }

  a {
      color: red;
      text-decoration: none;
  }