/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps&display=swap');

:root {
  font-family: Arial, sans-serif;
  font-size:16px;
  background-color: #ffffffa9;
  width:100%;
}

.weather-header {
  display:block;
  height: auto;
  padding: 1em 0em;
  text-align: center;
  background-color: #011627;
  color: #e7f1f8;
}

.design-doc-menu {
  background-color: #0caadc;
  font-size:.9em;
}

.design-doc-menu ul {
  list-style:none;
  color:#011627;
  line-height: 1.5em;
  text-align: center;
  padding-left: 0;
}
.design-doc-menu a {
  display:block;
  padding: .5em 0em;
}

.design-doc-menu ul li a:hover{
  background-color:lightblue;
  color:#011627;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  width:100%;
  text-align: center;
  margin: 0em 0em 1em;
}

h1, h2, h3 {
  font-family: 'Delius Swash Caps', serif;
}

.sec1, .sec2, .sec3, .sec4 {
  width:auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 0em;
  grid-column-gap: .1rem;
  margin: 1em 0em 0em;
  background-color: #d8d8d8a9;
  padding: 0em 0em 1em 0em;
}

 main section img {
  padding:.5em;
} 

h2 {
  text-decoration-line: underline;
  text-align: center;
}


footer {
  display: grid;
  text-align: center;
  height: auto;
  width:100%;
  font-size: .8em;
  background-color: #0caadc;
  color: #011627;
  padding: .75em 0em;
  line-height: 0em;
}

footer a {
  color:#011627;
}

footer a:hover {
  background-color:lightblue;
  color:#011627;
}

#lastupdated {
  font-size:.9em;
}
