/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  background-color: #ffffffa9;
  width:100%;
}

header {
  height: auto;
  width:100%;
  padding: 1em 0em;
  text-align: center;
  background-color: #2a4e5c;
  color: #c2ff7c;
}

.pagereturn {
  text-align: left;
  padding-left:1em;
}

main {
  display: grid;
  width:100%;
  text-align: center;
  margin-bottom: 10%;
  list-style: none;
}

h2 {
  text-decoration-line: underline;
  text-align: center;
}

.linklist {
  width:100%;
  text-indent:1em;
}

.linklist ul {
  list-style:none;
  text-align: left;
}

.linklist ul li a:hover{
  background-color:lightblue;
}

.profilepicture {
  border-radius:1em;
  box-shadow: 0 0 15px black;

}

footer {
  display: grid;
  text-align: center;
  height: auto;
  width:100%;
  font-size: 1em;
  background-color: #2a4e5c;
  color: #c2ff7c;
  padding: 0em;
}

footer a {
  color:lightblue;
}

footer a:hover {
  font-weight:bold;
}

