/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body {
  font-family: arial, sans-serif;
  font-size:12px;
  background-color: #ffffffa9;
  width:75%;
}

header {
  height: 75px;
  width:75%;
  margin-top: 10px;
  margin-left:12.5%;
  padding: 0%;
  background-color: #2a4e5c;
  color: #c2ff7c;
  border-radius: .9em;
}
.studentname {
  margin-left: 1em;
  padding-top: 1em;
}

main {
  display: flex;
  margin-left:15%;
  margin-bottom: 10%;
  flex-flow: row wrap;
  list-style: none;
}

h2 {
  text-decoration-line: underline;
}

.linklist {
  width:100%;
  padding-left: 1em;  
  align-items: center;
}

.linklist ul {
  list-style:none;
}

.linklist ul li a:hover{
  background-color:lightblue;
}

.ProfilePicture {
  float: right;
  margin-top: -5em;
  margin-right: 1em;
  border-radius:1em;
  box-shadow: 0 0 15px black;

}

footer {
  display: block;
  text-align: center;
  height: 4em;
  width:75%;
  font-size: .9em;
  margin-left:12.5%;
  background-color: #2a4e5c;
  color: #c2ff7c;
  border-radius: .9em;
  padding: 2em 0em 1em 0em;
}

footer a {
  color:lightblue;
}

footer a:hover {
  font-weight:bold;
}

