/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body {
  font-family: arial, sans-serif;
  background-color: #ffffffa9;

}

header {
  height: 100px;
  width:80%;
  margin-top: 10px;
  margin-left:5%;
  padding: 0%, 25%, 0%, 25%;
  background-color: #006421;
  color: #a1ff35;
  border-radius: .9em;
}
.studentname {
  margin-left: 1em;
  padding-top: 1em;
}

.byuitag:active {
  color:lightblue;
}

.byuitag:hover {
  color:lightblue;
}

main {
  display: flex;
  margin-left:15%;
  flex-flow: row wrap;
  list-style: none;
}

nav {
  width:75%;
  padding-left: 1em;  
  align-content:center;
}

nav ul {
  list-style:none;
}

.ProfilePicture {
  float: right;
  margin-top: -4em;
  margin-right: 30px;
  width: 15em;
  border-radius:1em;
  box-shadow: 0, 2, 2, 0 black;

}

footer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  height: 4em;
  width:80%;
  font-size: .9em;
  margin-left:5%;
  background-color: #006421;
  color: #a1ff35;
  border-radius: .9em;
}