/* The small viewport is setup as the defult css - no queries */

/* 'large' media query section */
@media only screen and (min-width: 65em){
    .weather-header {
        height: auto; 
        font-size: 1.75em
    }

    .design-doc-menu {
        display:flex;
    }
    .design-doc-menu li {
        display:flex;
        flex-direction: row;
        flex-wrap:nowrap;
    }
      
      .design-doc-menu li:first-child {
        display:none;
      }

    .design-doc-menu li a{
        margin: 0em;
    }

    .sec1, .sec2, .sec3, .sec4 {
        margin: 0rem 7rem 1rem;
    }
    
/*   .section-container {
        display:grid;
        width:auto;
        margin: 0em 0em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
*/
    #font-table .sec2 {
        grid-column: 2 / span 3;
    }

     footer {
        font-size:1em;
    }

}