/* The small viewport is setup as the defult css - no queries */

/* 'medium' media query section */
@media only screen and (min-width: 32.5em){

    .logo {
        margin-left: .5em; 
    }

    .weather-header {
       background-image: linear-gradient(to right, #011627, #a2cae5);
       align-items: center;
    }
    
    .weather-header h1 {
        font-size:1.3rem; 
    }
    .ham {
        display: none;
    }
    
    .design-doc-menu {
        margin: 0em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main nav ul li {
        padding:0em;
    }

}