/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps&display=swap');

body {
  font-family: Arial, sans-serif;
  font-size:16px;
  background-color: white;
  color:#011627;
  width:100%;
}

.weather-header {
  display:flex;
  height: auto;
  flex-direction:row;
  align-items: center;
  background-color: #011627;
  color: white;
}

.weather-header h1,h2 {
  font-size: 1rem;
}

header .icon {
  float: right;
  background-color: #1481ba;
  padding: .5rem;
}

.design-doc-menu {
  background-color: #a2cae5;
  font-size:.9rem;
  margin-bottom: .5rem;
}

.design-doc-menu ul {
  list-style:none;
  line-height: 0rem;
  text-align: left;
}

.design-doc-menu a {
  display:block;
  padding: 1.25rem .75rem;
  color: #011627;
}

.active-link {
  background-color:#1481ba;
  color:white;
}

.design-doc-menu ul li a:hover{
  background-color:#1481ba;
  color:white;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  width:100%;
  text-align: center;
  margin: 0rem 0rem 1rem;
}

h1, h2, h3 {
  font-family: 'Delius Swash Caps', serif;
}

table {
  width:100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #011627;
  text-align: left;
  padding: 0rem .25rem;
}

.sec1, .sec2, .sec3, .sec4 {
  width:auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 0rem;
  grid-column-gap: .1rem;
  margin: 1rem 0rem 0rem;
  background-color: #d8d8d8a9;
  padding: 0rem 1rem 1rem 1rem;
}

 main section img {
  padding:.5rem;
} 

ol {
  text-align: left;
}

footer {
  display: grid;
  text-align: center;
  height: auto;
  width:100%;
  font-size: .8rem;
  background-color: #a2cae5;
  color: #011627;
  padding: .75rem .750rem;
  line-height: 0rem;
}

footer a {
  color:#011627;
}

footer a:hover {
  background-color:#1481ba;
  color:white;
}

#lastupdated {
  font-size:.9rem;
}
