$primaryColor: #134c13;
$secondaryColor: #f0cda0;
$accent1Color: #6f584b;
$backgroundColor: #eeeff3;
$accent2Color: #86858e;

$gutter: 2%;

$fontFamilyHead: 'Roboto Slab', serif;
$fontFamilyMain: 'Roboto', sans-serif;
$regularWeight:300;
$heavyWeight:700;